body {
    font: 1em sans-serif;
    color: rgba(255, 255, 255, 0.952);
    background-color:rgb(1, 1, 20);
    }




h1,h2,h4{
    text-align: center;
    color : rgba(255, 255, 255, 0.952);
    background-image: url("img/TheOmniVerse.png");
    
}

h2.description{
    font-style: italic;
}

h3.header{
    text-decoration: underline;
    font-size:bold;
}

section{
    margin: 20px;
    padding:20px;
    background-image: url("img/socialmediaicons.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100px;
  

}
p.response{
    font-style: italic;

}

li.point{
    font-style: italic;
}

.button {
    color: white;
    text-align: center;
    text-decoration: none;
    
    


}
   