body {
    font: 1em sans-serif;
    color: rgba(255, 255, 255, 0.952);
    background-color:rgb(1, 1, 20);
    }




h1,h2,h4{
    text-align: center;
    color : rgba(255, 255, 255, 0.952);
    background-image: url("img/TheOmniVerse.png");
    font-family: fantasy;
}

h2.description{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3.header{
    text-decoration: underline;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

li.point{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section{
    margin: 20px;
    padding:20px;
    background-image: url("img/socialmediaicons.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100px;

  

}
p.response{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

li.point{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    color: white;
    text-align: center;
    text-decoration: none;
}
/* OmniBlog */
.blog-container {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;
}
 .blog-images, .superman, .hulk {
    margin-top: 10px;
    max-width: 100%;
 }
.blog-body {
    background-color: #49636B;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.blog-body > p {
    text-indent: 10px;
}
.back:hover {
    background-color: plum;
    cursor: pointer;
}
@media (min-width: 579px) {
    .f4 {
        display: flex;
        flex-direction: row;
    }
}